html,body,a,abbr,acronym,address,applet,b,big,blockquote,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,input,h1,h2,h3,h4,h5,h6,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,tfoot,thead,tt,u,ul,var,select{padding:0;margin:0;outline:none;vertical-align:baseline;background:0 0;text-decoration:none}html{scroll-behavior:smooth}body{font-family:Nunito,sans-serif;word-wrap:break-word;margin:0;color:#5D6D7E;line-height:1.3;font-size:17px}a,ul,li,iframe,input{border:0;outline:0;vertical-align:baseline;text-decoration:none}ul li{list-style:none}a:hover{filter:brightness(97%);transition:1s;color:#118d78}

*,::after,::before,bs-bb{box-sizing:border-box}
.ai-c{align-items:center}.ac-sb{align-content:space-between}
.bc-1,img{background-color:#e5e5e5}.bc-2{background-color:#2e51a2}.bc-3,iframe{background-color:#000}.bc-t{background-color:0 0}.br-3{border-radius:3px}.bbs-d{border-bottom-style:dotted}.bs-bb{box-sizing:border-box}
.c-1{color:#ffff00}.c-2,button{color:#fff}.c-3{color:#118d78}
.d-b{display:block}.d-g{display:grid}.d-f{display:flex}.d-n,.dua,.tiga,.empat,.lima,.enam{display:none}.d-i{display:inline}
.fs-11{font-size:11px}.fs-15{font-size:15px}.fs-20{font-size:20px}.fs-30{font-size:30px}.fw-w{flex-wrap:wrap}
.gg-5{grid-gap:5px}.gg-10{grid-gap:10px}.gg-15{grid-gap:15px}.gtc-e{grid-template-columns:repeat(auto-fill,minmax(79px,1fr))}
.h-f{height:100%}
.jc-sb{justify-content:space-between}.jc-c{justify-content:center}
.m-0{margin:0}.m-5{margin:5px}.mr-5{margin-right:5px}.ml-5{margin-left:5px}.m-0a{margin:0 auto}
.o-a{overflow:auto}.o-h{overflow:hidden}.of-c{object-fit:cover}
.p-0{padding:0}.p-5{padding:5px}.pr-15{padding-right:15px}.pl-15{padding-left:15px}.p-r{position:relative}.p-a{position:absolute}
.to-e{text-overflow:ellipsis}.title{color:#E59866;padding:0;margin:0}.ta-c{text-align:center}
.ws-n{white-space:nowrap}.widget{padding:10px;margin:0;overflow:hidden;position:relative}.w-f{width:100%}
tr,td{border:1px dotted;padding:5px}

.breadcrumb li:last-child{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.breadcrumb li + li:before{content:"/";padding-right:5px}
#plyr{background:url(https://service.acefile.co/assets/preload.svg)center;background-repeat:no-repeat}
.server{background:#2e51a2}.active{background:red;color:#fff}#allvideo{box-shadow:0 0 2px #9e9e9e;border: solid 1px #6495ed;padding:2px;text-align:center}a#allvideo:hover{background:#118d78;color:white}
#imgh img{transition: 1.5s all ease-in-out}
#imgh img:hover{transform:scale(1.1)}
.rbl-10{bottom:10px;left:10px;right:10px}
.svg{width:25px;height:25px}
.tr-10{top:10px;right:10px}.tl-10{top:10px;left:10px}
.ts-1{text-shadow:-1px -1px 5px #000, 1px -1px 5px #000, -1px 1px 5px #000, 0 3px 2px #000}

@media(min-width:1025px){.gtc-r{grid-template-columns:repeat(auto-fill,minmax(182px,1fr))}.gtc-m{grid-template-columns:200px auto}.gtc-ib{grid-template-columns:auto auto}.thumb{width:100%;height:130px}#plyr,#img{width:100%;height:613px}}
@media(max-width:1024px){.gtc-r{grid-template-columns:repeat(auto-fill,minmax(245px,1fr))}.gtc-m{grid-template-columns:150px auto}.gtc-ib{grid-template-columns:auto auto}.thumb{width:100%;height:230px}#plyr,#img{width:100%;height:590px}}
@media(max-width:800px){.thumb{width:100%;height:190px}}
@media(max-width:600px){.gtc-r{grid-template-columns:repeat(auto-fill,minmax(152px,1fr))}.gtc-m{grid-template-columns:99px auto}.gtc-ib{grid-template-columns:auto}.thumb{width:100%;height:145px}#plyr,#img{width:100%;height:339px}}
@media(max-width:320px){.gtc-r{grid-template-columns:repeat(auto-fill,minmax(133px,1fr))}.gtc-m{grid-template-columns:49px auto}.thumb{width:100%;height:100px}#plyr,#img{width:100%;height:170px}}