<div class="d-f jc-sb ai-c gg-10 c-2">
  {{ if .IsHome }}
  <h1 class="fs-25">{{ .Title }}</h1>
  {{ else }}
  <h2><a class="fs-20 c-1 bc-3 p-5 br-3" href="/">Home</a></h2>
  {{ end }}
  
  {{ if .IsHome }}
  <div>
    <select class="fs-20 c-1" onchange="document.location.href=this.value">
      <option value="#">Menus</option>
      <option value="/chinese">Chinese</option>
      <option value="/japan">Japan</option>
      <option value="/ongoing">Ongoing</option>
    </select>
  </div>
  {{ else }}
  <h1 class="fs-25 ws-n to-e o-h">{{ .Title }}</h1>
  {{ end }}
</div>